/* Estilos para o botão "Criar Nova Reclamação" */
.pagina-principal button {
    margin-bottom: 20px;
    padding: 12px 24px;
    background-color: #2f26b2; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.pagina-principal button:hover {
    background-color: #2f4086; 
}


.pagina-principal button a {
    text-decoration: none;
    color: inherit;
}
.reclamacao-detalhes,
.reclamacao-detalhes * {
    color: black !important; 
}
.lista-reclamacoes .reclamacao-link {
    color: black; 
    text-decoration: none;
}

.lista-reclamacoes .reclamacao-link:hover {
    color: #0056b3; 
}

.reclamacao-detalhes button,
.comentario-info button,
.reclamacao-detalhes .botao-deletar,
.reclamacao-detalhes .botao-adicionar {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    text-decoration: none;
}

.reclamacao-detalhes button:hover,
.comentario-info button:hover,
.reclamacao-detalhes .botao-deletar:hover,
.reclamacao-detalhes .botao-adicionar:hover {
    background-color: #0056b3;
}

.reclamacao-detalhes .botao-deletar {
    background-color: #ff4d4d;
    transition: 0.3s ease-in-out;
    
}

.reclamacao-detalhes .botao-deletar:hover {
    background-color: #cc0000;
}

@media (max-width: 768px) {
    .reclamacao-detalhes button,
    .comentario-info button,
    .reclamacao-detalhes .botao-deletar,
    .reclamacao-detalhes .botao-adicionar {
        padding: 8px 16px;
        font-size: 14px;
    }
}
.barra-pesquisa input[type="text"] {
    width: 80%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
